extends template
block variables
  // variable is used to highlight curent page in navigation bar 
  - let aActive = 'active' 

block content
  .text.text-shadow
    h1.underline Who we are:
    p.max50ch
      | We are the only thing you need to make your travel dream come true. Call us now!
      
